<!doctype html>
<html ng-app="TestApp" ng-controller="TestCtl">
	<head>
		<script src="js/sockjs.min.js"></script>
		<script src="js/vertx-eventbus.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-vertxbus.min.js"></script>
		<script src="js/test.js"></script>
	</head>
	<body>
		<div>
			<button name="click" ng-click="clickme()">Click</button>
			<button name="redeployV" ng-click="deployNewV()">Redeploy V</button>
			<button name="redeployV2" ng-click="deployNewV2()">Redeploy V2</button>
			<span>{{clickmevalue}}</span>
			<span>{{errorvalue}}</span>
		</div>
	</body>
</html>